.calendar {
  padding-top: 20px;
  .simple-calendar {
    .calendar-heading {
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: orange;
      font-size: 30px;
    }
    tbody {
      .daily_macro.is-show {
        display: none;
      }
    }
  }
}
