// edit account page
.account_box {
  margin-left: 50px;
  .edit_text {
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  .edit_account_data {
    &_area {
      font-size: 20px;
      margin-bottom: 10px;
      &_title {

      }
      &_form {

      }
    }
    .update_button {
      padding-top: 10px;
    }
  }
}

// sign-in page
.account_box_signin {
  padding-top: 40px;
  margin-left: 50px;
  padding-bottom: 25%;
  .signin_text {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .signin_account_data {
    &_area {
      font-size: 20px;
      margin-bottom: 10px;
      &_title {

      }
      &_form {

      }
    }
    .login_box {
      display: flex;
      margin-bottom: 10px;
      .remember_button {
        margin-right: 46px;
      }
    }
    a {
      text-decoration: none;
      color: orange;
    }
  }
}

// sign-up page
.account_box_signup {
  padding-top: 40px;
  margin-left: 50px;
  .signup_text {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .signup_account_data {
    &_area {
      font-size: 20px;
      margin-bottom: 10px;
      &_title_pal {
        position: relative;
        .pal_help_text.is-show {
          display: none;
          position: absolute;
          top: -250px;
          left: 700px;
          width: 630px;
          color: orange;
          background-color: #444444;
          padding: 10px;
        }
      }
      &_form {

      }
    }
    .signup_button {
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      color: orange;
    }
  }
}

// edit_meal page
.edit_meal_box {
  padding-top: 40px;
  margin-left: 50px;
  padding-bottom: 7%;
  .edit_meal_text {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .meals_update_box {
    &_area {
      font-size: 20px;
      margin-bottom: 10px;
      &_label {
  
      }
      &_field {
  
      }
    }
    .submit_button {
      padding-top: 10px;
    }
  }
}

// edit_workout page
.edit_workout_box {
  padding-top: 40px;
  margin-left: 50px;
  padding-bottom: 12%;
  .edit_workout_text {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .workouts_update_box {
    &_area {
      font-size: 20px;
      margin-bottom: 10px;
      &_label {
  
      }
      &_field {
  
      }
    }
    .submit_button {
      padding-top: 10px;
    }
  }
}
